@model ProductDto
@{
    ViewData["Title"] = "GetPassiveProducts";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h3 class="mt-4">@ViewBag.categoryName Kategorisine Ait Pasif Ürünler Listesi</h3>


@if (Model.Message != null)
{
    <div class="text-danger">
        <h2>@Model.Message</h2>
    </div>
}
else
{
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Stok</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {


                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.UnitsInStock</td>
                </tr>
            }


        </tbody>


    </table>
}

