@model ProductDto
@{
    ViewData["Title"] = "GetProducts";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h3 class="mt-4">@ViewBag.companyName Adlı Tedarikçiye Ait Ürünler Listesi</h3>


@if (Model.Message != null)
{
    <div class="text-danger">
        <p>@Model.Message</p>
    </div>
}
else
{
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Tedarikçi Adı</th>
                <th>Stok</th>
                <th>Fiyat</th>
                <th>Sil</th>
                <th>Güncelle</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {


                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Supplier.CompanyName</td>
                    <td>@item.UnitsInStock</td>
                    <td>@item.UnitPrice</td>
                    <td>
                        <a class="btn btn-danger" asp-area="Manager" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.Id">
                            Sil
                        </a>

                    </td>
                    <td>
                        <a class="btn btn-success" asp-area="Manager" asp-controller="Product" asp-action="UpdateProduct" asp-route-id="@item.Id">
                            Güncelle
                        </a>
                    </td>
                </tr>
            }


        </tbody>


    </table>
}

