@model SupplierDto
@{
    ViewData["Title"] = "SupplierAct";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<partial name="~/Areas/Manager/Views/Supplier/SupplierProductsPartial.cshtml" />
<partial name="~/Areas/Manager/Views/Supplier/SupplierAllProductsPartial.cshtml" />
<h3 class="mt-4">Tedarikçi Hareketi</h3>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Tedarikçi Adı</th>
            <th>İletişim Kişisi</th>
            <th>Telefon</th>
            <th>Aylık Ürünler</th>
            <th>Toplam Ürünler</th>
            

        </tr>
    </thead>
    <tbody>
        @if (Model.Suppliers.Count() <= 0)
        {
            <tr>
                <td colspan="3">
                    @Model.Message
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Suppliers)
            {

                <tr>
                    <td>
                        <a asp-area="Manager" asp-controller="Supplier" asp-action="GetProducts" asp-route-supplierId="@item.Id">
                            @item.CompanyName
                        </a>

                    </td>
                    <td>@item.ContactName</td>
                    <td>@item.Phone</td>
                    <td>
                        <button class="btn btn-primary" href="#!" data-toggle="modal" data-target="#orderedProductsModal" data-supplier-id="@item.Id"  id="showOrderedProductsModal">
                            Aylık Alımlar
                        </button>
                        
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#!" data-toggle="modal" data-target="#allOrderedProductsModal" data-supplier-id="@item.Id"  id="showAllOrderedProductsModal">
                            Toplam Alımlar
                        </button>
                        
                    </td>
                    
                </tr>
            }

        }
    </tbody>


</table>


<script type="text/javascript">
    /*  modal for show order details  */

        $(function () {
            $(document).on('click', "#showOrderedProductsModal", function (e) {
                
                var supplierId = $(this).attr('data-supplier-id');
                console.log(supplierId);
                $.ajax({
                    type: 'GET',
                    url: '/Manager/Supplier/MonthlyOrderedProductsFromSupplier/',
                    data: { supplierId },
                    success: function (data) {
                        $("#ordered-product-content").html(data);
                    }
                });

            });
        });
    $(function () {
        $(document).on('click', "#showAllOrderedProductsModal", function (e) {

            var supplierId = $(this).attr('data-supplier-id');
            console.log(supplierId);
            $.ajax({
                type: 'GET',
                url: '/Manager/Supplier/AllOrderedProductsFromSupplier/',
                data: { supplierId },
                success: function (data) {
                    $("#all-ordered-product-content").html(data);
                }
            });

        });
    });


</script>