@model AppUserDto

@{
    ViewData["Title"] = "OldUsers";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h3 class="mt-4">Eski Çalışanların Listesi</h3>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Fotoğraf</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Aktif Et</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AppUsers.Count() <= 0)
        {
            <tr>
                <td colspan="3">
                    @Model.Message
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.AppUsers)
            {

                <tr>

                    <td>

                        <img style="width:50%; height:50%;" class="center rounded-circle" src="@item.Picture" />

                    </td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td user-roles="@item.Id"></td>
                    <td>
                        <a class="btn btn-danger" asp-area="Manager" asp-controller="Home" asp-action="MakeUserActive" asp-route-id="@item.Id">
                            Aktif Et
                        </a>

                    </td>
                    
                </tr>
            }

        }
    </tbody>


</table>
