
@model List<AppUserAndSalesDto>
@{
    ViewData["Title"] = "SalesTrackingReport";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<partial name="~/Areas/Manager/Views/Home/MonthlySalesTrackingReportPartial.cshtml" />
<h3 class="mt-4">Çalışan Raporu</h3>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Toplam Satış Sayısı</th>
            <th>Aylık Satış Kotası Durumu</th>
            <th>Hakedilen Prim</th>
            <th>Aylık Satılan Ürünler</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>

                @{ 
                    var totalQuantity = 0;
                    decimal totalPrice = 0;
                }
                @foreach (var orderDetail in item.OrderDetailsOfUsers)
                {
                    totalQuantity += orderDetail.Quantity;
                    totalPrice += orderDetail.UnitPrice;
                }

                <td class="text-center">@totalQuantity Ürün</td>
                

                   @if (item.TotalPrice > 10000)
                    {
                        <td class="text-success text-large text-center"><i class="icon-ok-circle"></i>@totalPrice</td>
                        <th class="text-center">@((totalPrice - 10000)*10/100)</th>

                    }
                    else
                    {
                        <td class="text-danger text-center text-large"><i class="icon-arrow-down"></i> @totalPrice</td>
                        <th class="text-center"><i class="icon-ban-circle icon-2x"></i></th>

                    }
                
                <td>
                    <button class="btn btn-info" href="#!" data-toggle="modal" data-target="#monthlySalesOfAppUser" data-appuser-id="@item.AppUserId" id="showMonthlySalesOfAppUserModal">
                        Aylık Satılan Ürünler
                    </button>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        $(document).on('click', "#showMonthlySalesOfAppUserModal", function (e) {

            var appUserId = $(this).attr('data-appuser-id');
            console.log(appUserId);
            $.ajax({
                type: 'GET',
                url: '/Manager/Home/GetMonthlySalesOfAppUser/',
                data: { appUserId },
                success: function (data) {
                    $("#monthly-sales").html(data);
                }
            });

        });
    });
</script>